.post-page {
  .post-info-box {
    .tag {
      &:hover {
        text-decoration: underline;
        background: inherit;
      }
    }
  }

  .post-content {
    .content {
      margin: 0;
      width: 100%;
    }
  }

  .footer-line {
    margin: calc(var(--global-space) * 3) 0;
  }

  .comments {
    position: relative;
    top: -16px;
  }
}