---
layout: default
permalink: /tags/
title: 标签
---

<div class="content list">
    {% for col_tag in site.col_tags %}
    {% assign tag = site.tags[col_tag.title] %}
    <div class="list-item">
        {% for post in tag %} {% if post.image_preview != null %}
        <div class="list-item-img">
            <img src="{{ post.image_preview }}" alt="{{ post.title }}" title="{{ post.title }}" />
        </div>
        {% break %} {% endif %} {% endfor %}

        <div class="list-item-body">
            <h2 class="list-post-title">
                <a href="{{ site.baseurl }}/tags/{{ col_tag.slug }}"
                title="{{ col_tag.title }}">
                {{ col_tag.title }}</a>
            </h2>
            <div class="list-post-info">
                {{ tag[0].title }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
