---
layout: default
permalink: /tags/
title: 标签
---

{{ "测试adww---Sa" | slugify }}

<div class="content list">
    {% assign used_image = "" %}
    {% for tag_object in site.tags %}
    {% assign tag = tag_object[1] %}
    <div class="list-item">
        {% for post in tag %}
            {% assign image = null %}
            {% if post.image_preview != null %}
                {% assign image = post.image_preview %}

                {% if used_image contains post.image_preview %}
                {% else %}
                    {% assign used_image = used_image | append: ' ' | append: post.image_preview %}
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}

        {% if image != null %}
        <div class="list-item-img">
            <img src="{{ image }}" />
        </div>
        {% endif %}

        <div class="list-item-body">
            <h2 class="list-post-title">
                <a href="{{ site.baseurl }}/tags/{{ tag_object[0] | slugify: 'pretty' }}"
                title="{{ tag_object[0] }}">
                {{ tag_object[0] }}</a>
            </h2>
            <div class="list-post-info">
                {{ tag[0].title }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
