{% if paginator %}
<nav class="pagination">
  {% if paginator.total_pages > 1 %}
      {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="pagination_pager">&laquo; Prev</a>
      {% else %}
          <a href="#" class="pagination_pager disabled">&laquo; Prev</a>
      {% endif %}
      {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
              <a href="#" class="pagination_pager disabled">{{ page }}</a>
          {% elsif page == 1 %}
              <a href="../" class="pagination_pager">{{ page }}</a>
          {% else %}
              <a href="{% if paginator.page != 1 %}.{% endif %}./{{ page }}" class="pagination_pager">{{ page }}</a>
          {% endif %}
      {% endfor %}
      {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path }}" class="pagination_pager">Next &raquo;</a>
      {% else %}
          <a href="#" class="pagination_pager disabled">Next &raquo;</a>
      {% endif %}
  {% endif %}
</nav>
{% endif %}