@import './terminal.scss';

body {
  margin: 0;
  font-family: var(--font-stack);
}

pre {
  padding: 0;
  code {
    padding: 1em;
    font-family: var(--mono-font-stack);
    overflow: auto;
  }
}

#blog-data {
  display: none;
}