---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <a id="top"></a>
    <div class="container">
        <header class="masthead-bar scoll-up">
            <h1 class="masthead-bar-title">
                <a href="#top" id="scoll-to-top">
                    <span>{{ site.author }}<span>&#39;s blog</span></span></a>
            </h1>
        </header>
        <header class="masthead scoll-up">
            <h1 class="masthead-title">
                {% if page.title != "主页" %}<a href="{{ site.baseurl }}/" id="page-title">{{ page.title }}</a><span> | </span>{% endif %}
                <a href="{{ site.baseurl }}/"><span id="author-name">{{ site.author }}</span><span>&#39;s blog</span></a>
            </h1>
            <nav class="masthead-nav">
                {% for nav in site.nav %}
                <a href="{{ nav.href }}">{{ nav.name }}</a>
                {% endfor %}
                {% for tag in page.tags %}
                <a href="/tag/{{ tag | slugify: 'pretty' }}">{{ tag }}</a>
                {% endfor %}
            </nav>
        </header>
        {{ content }}
        <footer>
            <p>
                <span class="block">
                {% if paginator.total_pages > 1 %}
                    {% if paginator.previous_page %}
                        <a href="{{ paginator.previous_page_path }}">&laquo; Prev</a>
                    {% else %}
                        <span>&laquo; Prev</span>
                    {% endif %}
                    {% for page in (1..paginator.total_pages) %}
                        {% if page == paginator.page %}
                            <span style="color: #333;">{{ page }}</span>
                        {% elsif page == 1 %}
                            <a href="../">{{ page }}</a>
                        {% else %}
                            <a href="{% if paginator.page != 1 %}.{% endif %}./{{ page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if paginator.next_page %}
                        <a href="{{ paginator.next_page_path }}">Next &raquo;</a>
                    {% else %}
                        <span>Next &raquo;</span>
                    {% endif %}
                {% endif %}
                </span>
                <span class="block">
                    Maintained by <a href="/about">c0ldcat</a> with <span style="color: #f44336;">❤</span>
                </span>
            </p>
        </footer>
    </div>

    <script>
        function init() {
            window.addEventListener('scroll', function(e){
                var distanceY = window.pageYOffset || document.documentElement.scrollTop,
                    shrinkOn = 200,
                    header = $("header");
                if (distanceY > shrinkOn) {
                    if (header.hasClass("scoll-up")) {
                        header.removeClass("scoll-up");
                    }
                    header.addClass("scoll-down");
                    if ( header.height() / $(window).height() > 0.15 ) {
                        $('#masthead-bar-title-page').css('display', 'none');
                    }
                } else {
                    if (header.hasClass("scoll-down")) {
                        header.removeClass("scoll-down");
                    }
                    header.addClass("scoll-up");
                }
                //console.log(distanceY);
            });
            var scollItem = $("#scoll-to-top");
            scollItem.click(function() {
                $.scrollTo(scollItem.attr("href"), {duration:2000});
            });
        }
        $(document).ready(init());
    </script>
</body>
</html>
