---
---
<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <a id="top"></a>
    <div class="container">
        <header class="masthead-bar scoll-up">
            <h1 class="masthead-bar-title">
                {% if page.title != "主页" %}<a href="#top" id="scoll-to-top">{{ page.title }}</a><span> | </span>{% endif %}
                <a href="{{ site.baseurl }}/">{{ site.author }}<span>&#39;s blog</span></a>
            </h1>
        </header>
        <header class="masthead scoll-up">
            <h1 class="masthead-title">
                {% if page.title != "主页" %}<a href="{{ site.baseurl }}/" id="page-title">{{ page.title }}</a><span> | </span>{% endif %}
                <a href="{{ site.baseurl }}/"><span id="author-name">{{ site.author }}</span><span>&#39;s blog</span></a>
            </h1>
            <nav class="masthead-nav">
                {% for nav in site.nav %}
                <a href="{{ nav.href }}">{{ nav.name }}</a>
                {% endfor %}
                {% for tag in page.tags %}
                <a href="/tags/{{ tag | slugify: 'pretty' }}">{{ tag }}</a>
                {% endfor %}
            </nav>
        </header>
        {{ content }}
    </div>

    <script type="text/javascript" src="https://cdn.staticfile.org/jquery-hashchange/v1.3/jquery.ba-hashchange.min.js"></script>

    <script>
    function init() {
        window.addEventListener('scroll', function(e){
            var distanceY = window.pageYOffset || document.documentElement.scrollTop,
            shrinkOn = 200,
            header = $("header");
            if (distanceY > shrinkOn && header.height() / $(window).height() < 0.15) {
                if (header.hasClass("scoll-up")) {
                    header.removeClass("scoll-up");
                }
                header.addClass("scoll-down");
            } else {
                if (header.hasClass("scoll-down")) {
                    header.removeClass("scoll-down");
                }
                header.addClass("scoll-up");
            }
            //console.log(distanceY);
        });
        var scollItem = $("#scoll-to-top");
        scollItem.click(function() {
            $.scrollTo(scollItem.attr("href"), {duration:2000});
        });
    }
    $(document).ready(init());

    $(window).hashchange(function(){
        var target = $(location.hash);
        console.log(location.hash);
        if(target.length==1){
            var top = target.offset().top-$('.masthead-bar').height();
            if(top > 0){
                $('html,body').scrollTop(top);
            }
        }
    });

    $(function() {
        $(window).hashchange();
    });
    </script>
</body>
</html>
