---
layout: block-left
---

<div id="pages" class="block-right">
  <div class="inner-post content">
    <h1>{{ page.title }}</h1>
    <div class="date-highlight">{% if page.date %}{{ page.date | date: '%d %b %Y' }}{% else %}&#x2756;{% endif %}</div>
    {{ content }}
    <div class="date-highlight">
      {% assign last_tag_id = page.tags.size | minus: 1 %}
      {% for tag in page.tags%}
      <a class="tag" href="/tag/{{ tag | slugify: 'pretty' }}">{{ tag }}</a>
      {% unless tag == page.tags[last_tag_id] %}
      &nbsp;&sdot;&nbsp;
      {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>